{% load static %}



{% block dependencies %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'ValidationError.js' %}"></script>
    <script src="{% static 'schedule-util.js' %}"></script>

    <link rel="stylesheet" href="{% static 'elements/input-box.css' %}">
    <link rel="stylesheet" href="{% static 'elements/tosca-btn.css' %}">
    <link rel="stylesheet" href="{% static 'elements/tosca-green-btn.css' %}">
    <link rel="stylesheet" href="{% static 'elements/red-btn.css' %}">
{% endblock %}