.outer-container{
    display: grid;
    grid-template-rows: auto 1fr;
}

.schedule-item{
    display: grid;
    grid-template-columns: repeat(5, auto) 1fr auto auto;
    grid-column-gap: 0.3rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}
.schedule-item .is-preferred-symbol{
    text-align: center;
}

.schedule-item .delete-btn{
    display: none;
}
.schedule-item.deletable{
    padding-top: 0;
    padding-bottom: 0;
}
.schedule-item.deletable .delete-btn{
    display: block;
}

.schedule-item span{
    display: flex;
    align-items: center;
}











