{% load static %}

  <div id="schedule-date"
    class="relative mb-3 w-full"
    data-te-input-wrapper-init>
    <input
      type="text"
      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
      placeholder="Select a date" />
    <label
      for="floatingInput"
      class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200">
        Date
    </label>
  </div>

<div class="timepicker-inc
            relative mb-3 w-full"
     id="start-time"
     data-te-input-wrapper-init>

  <input type="text"
    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    id="form16" />
  <label for="form16"
    class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200">
      Start Time
  </label>
</div>


<div class="timepicker-inc
            relative mb-3 w-full"
     id="end-time"
     data-te-input-wrapper-init>

  <input type="text"
    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    id="form16" />
  <label for="form16"
    class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200">
      End Time
  </label>
</div>




{#<script src="{% static 'library/d3/d3.js' %}"></script>#}
{#<script src="{% static 'library/jquery-boilerplate/jquery.boilerplate.js' %}"></script>#}

{# MODIFIED VERSION OF timerangewheelslider #}
{#<script src="{% static 'library/timerangewheelslider/plugin.js' %}"></script>#}

<div id="circular-range-slider">
    <div class="slider-content"></div>
</div>

<link rel="stylesheet" href="{% static 'library/circular-slider/roundslider.css' %}" />
<script src="{% static 'library/circular-slider/roundslider.js' %}"></script>
<style>
    #circular-range-slider{
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #circular-range-slider .slider-content .rs-range-color  {
        background-color: #33B5E5;
    }
    #circular-range-slider .slider-content .rs-path-color  {
        background-color: #C2E9F7;
    }
    #circular-range-slider .slider-content .rs-handle  {
        background-color: #C2E9F7;
        padding: 7px;
        border: 2px solid #C2E9F7;
    }
    #circular-range-slider .slider-content .rs-handle.rs-focus  {
        border-color: #33B5E5;
    }
    #circular-range-slider .slider-content .rs-handle:after  {
        border-color: #33B5E5;
        background-color: #33B5E5;
    }
    #circular-range-slider .slider-content .rs-border  {
        border-color: transparent;
    }
</style>



<div class="flex justify-end">
    <button type="button"
            onclick="submitModal()"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        submit
    </button>
</div>



<script>
    let inputSchedule = {};

    $(document).ready(() => {
        initiateTimeWheelSlider();
        initiateTimepickerDatepicker();
    });
</script>


