<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <form action="/msg" method="post">
            {% csrf_token %}
            <div style="margin: 20px 0;">
                Your message: <input name="msg" /> <input type="submit" value="send">
            </div>
        </form>

        <div>
            Messages:
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>