{% extends 'navbar.html' %}
{% load static %}


{% block head %}
    <title>Homepage</title>
    <link href="{% static 'event-list/css.css' %}" rel="stylesheet">
    <script src="{% static 'event-list/main.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="outer-container" style="max-width: 70%; flex-grow: 1;">
        <div class="flex flex-row justify-end">
            <a href="{% url 'event_create' %}">
                <button type="button"
                        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4
                               focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-2 py-1.5
                               text-center mr-1 mb-1">
                    New Event
                </button>
            </a>
        </div>
        <div class="event-list">

        </div>

    </div>
</div>

{% with event_data|json_script:"events-data" as serialized_data %}
    {{ serialized_data|safe }}
{% endwith %}


<template id="event-item-template">
    <div class="event-item tosca-btn">
        <span class="event-name">
            My Event
        </span>
        <div>
        </div>
        <button type="button" class="delete-btn red-btn">
          Delete
        </button>
    </div>
</template>
{% endblock %}
