.input-box {
    background-color: #f9fafb;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
    color: #1f2937;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    outline-color: #3b82f6;
    display: block;
    padding: 0.625rem;
    width: 24rem;
    max-width: 100%;
}

.input-box:focus {
  outline-color: #3b82f6;
  border-color: #3b82f6;
}

.input-box.dark {
  background-color: #4b5563;
  border-color: #718096;
  color: #fff;
}

.input-box.dark::placeholder {
  color: #9ca3af;
}

.input-box.dark:focus {
  outline-color: #3b82f6;
  border-color: #3b82f6;
}